* {
	margin: 0 auto;
	padding: 0;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	max-width: 900px;
	background-color: green;
}

.pics {
	width: 100%;
}

#page {
	width: 75%;
	height: 100%;
	max-width: 40em;
	margin-left: 30%;
}

#block {
	background: #027EBA;
    height: 100%;
    width: 18%;
    max-width: 14em;
    position: fixed;
    top:0;
    overflow: hidden;
}

@media screen only and 

