* {
	margin: 0 auto;
	padding: 0;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	max-width: 900px;
	background-color: green;
}

.pics {
	width: 100%;
}

#page {
	width: 70%;
	margin-left: 22%;
}

#block {
	background: #027EBA;
    height: 100%;
    width: 15%;
    max-width: 14em;
    position: fixed;
    top:0;
    overflow: hidden;
}

